<!DOCTYPE html>
<html ng-app="marionette">
<head>
  <meta charset="utf-8">
  <title>Marionette</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>

<body class="app-layout" app-layout>
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <div ng-include="'/assets/templates/components/user_status/views/user_status.html'" class="app-user-status"></div>

  <header ng-include="'/assets/templates/components/header/views/header.html'" class="app-header"></header>

  <div class="app-content">
    <div ui-view></div>
  </div>

  <div ng-include="'/assets/templates/components/menu/views/menu.html'"></div>

  <div class="app-menu">
    <button class="app-menu-button" type="button">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- @TODO: figure out about interaction of this menu -->
    <nav ng-hide="true">
      <li class="app-menu__list-item"><a href="#"></a></li>
      <li class="app-menu__list-item"><a href="#"></a></li>
      <li class="app-menu__list-item"><a href="#"></a></li>
      <li class="app-menu__list-item"><a href="#"></a></li>
    </nav>
  </div>

  <footer ng-include="'/assets/templates/components/footer/views/footer.html'" class="app-footer"></footer>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>

</body>

</html>
